body {
    background-color: black;
    color: white;
    text-align: center;
}

.post {
    border: 1px solid white;
    width: 50%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.img {
    max-width: 100%;
}