{%include 'header.html'%}
<h1>Posty</h1>

<div class='post'>
    <button type='button' class='comment'>
        💬
    </button> 
    <div class='vote'>
        <button class='upvote' type='button'>▲</button>
        <div class='votecounter'>69</div>
        <button class='downvote' type='button'>▼</button>
        
    </div>
    <div class='title'>
        <h2>Tytuł coś tam</h2>
        {{ip}} {{timestamp}}<br>
    </div>
<img class='img' src="img/{{filename}}"><br></div>

{%include 'footer.html'%}