{% include 'header.html' %}
<div id="pageContainer">
    <h1>Zaloguj</h1>
    <form action="" method="post">
        <label for="emailInput">Podaj adres e-mail:</label>
        <input type="email" name="email" id="emailInput"><br>
        <label for="passwordInput">Podaj hasło:</label>
        <input type="password" name="password" id="passwordInput"><br>
        <input type="submit" name="submit" value="Zaloguj">
    </form>
    {% if message is defined %}
        <span class="message">{{message}}</span>
    {% endif %}
</div>
{% include 'footer.html' %}