{%include 'header.html'%}
<div id="pageContainer">
    {% if user is defined %}
    <div id="loggedUser">Zalogowany użytkownik: {{ user.getName() }} </div>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        <label for="titleInput">Tytuł obrazka</label>
        <input type="text" name="title" id="titleInput"><br>
        <label for="uploadedfileinput">
            Wybierz plik do wgrania na serwer:
        </label><br>
        {% if user is defined %}
        <input type="hidden" name="userId" value={{ user.getId() }}>
        {% endif %}
        <input type="file" name="uploadedFile" id="uploadedfileinput" required><br>
        <input type="submit" value="Wyślij plik" name="submit"><br>
    </form>
</div>
{%include 'footer.html'%}